# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
out/
Debug/
Release/
x64/
x86/
*.dll
*.exe
*.pdb
*.cache
*.log
*.tmp

# ASP.NET
appsettings.Development.json
appsettings.Local.json

# NuGet
*.nupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json

# Azure
*.publishsettings

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper

# VS Code
.vscode/
